<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qyh.tpsofbd.server.dao.MarkdownFileMapper">
  <resultMap id="BaseResultMap" type="com.qyh.tpsofbd.server.entity.MarkdownFile">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="markdown_file_url" jdbcType="VARCHAR" property="markdownFileUrl" />
    <result column="click_count" jdbcType="BIGINT" property="clickCount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from markdown_file
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into markdown_file (name, markdown_file_url, click_count, 
      create_time, update_time)
    values (#{name,jdbcType=VARCHAR}, #{markdownFileUrl,jdbcType=VARCHAR}, #{clickCount,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey">
    update markdown_file
    set name = #{name,jdbcType=VARCHAR},
      markdown_file_url = #{markdownFileUrl,jdbcType=VARCHAR},
      click_count = #{clickCount,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, name, markdown_file_url, click_count, create_time, update_time
    from markdown_file
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, markdown_file_url, click_count, create_time, update_time
    from markdown_file
  </select>
  
</mapper>